.window{
	display: none;
	background-color: rgba(red, 0.3);
	top:0px;
	width: 62.5px;
	position: absolute;
	flex-direction: column;
	height: 250px;
}
img{
	max-height: 50px;
	margin: auto;
}
.active{
	display: flex;


}