@import '../../colors.scss'; 
.square{
	line-height: 1.4;
	font-size: 23px;
	color: black;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: auto;
}
.black{
	background-color: $blackSquare;
}
.white{
	background-color: $whiteSquare;
}
.possibleMove{
	box-shadow: -11px 75px 8px 0px rgba(147, 185, 213, 0.8) inset;
}